/* Navbar alap stílusok */
.navbar {
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  z-index: 1;
}

.navbar-content {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Navbar linkek stílusa */
.navbar .nav-link {
  color: rgb(92, 212, 92) !important;
  margin: 0 20px;
}

.navbar .nav-link:hover {
  color: limegreen !important;
}

/* Cím, és egyéb más(navbar) */
#cim {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: white;
  margin: 0;
}


#nev {  
  margin-top: 10px;
  margin-right: 10; 
  color: white; 
  white-space: nowrap;
  float: left;
} 

#profilKep { 
  height: 50px; 
  width: 50px; 
  border-radius: 100%; 
  float: right;
  margin-left: 10px;
}

/*oldal css*/
#oldalLinkek{
  display: flex;
  justify-content: space-between;
}

a {
  margin: 0 20px;
  /*color: white;*/
  text-decoration: none;
  color: rgb(92, 212, 92);
}

#jelenlegiOldal{
  color: rgb(92, 212, 92);
  margin: 0 20px;
}

h2{
  color:white;
}
#gomb{
  margin-right: 5px;
}

/* Toast stílusok */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050; /* Biztosítja, hogy a toast mindig legfelül legyen */
  min-width: 250px;
}

.toast-body {
  padding: 1rem;
}

/* Színek */
.bg-danger {
  background-color: #dc3545 !important;
}

.bg-success {
  background-color: #28a745 !important;
}


/*kártya css*/
.card img {
  width: 100%;
  height: 200px; /* Állítsd be a kívánt magasságot */
  object-fit: cover;
}

/* Kép modal ablak stílusai */
#kepModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

#kepModal .modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; /* A kép arányai megmaradnak */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Középre igazítás */
}

#kepModal .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#kepModal .close:hover {
  color: #ccc;
}