#fontos{
    background-color: rgba(107, 199, 242, 0.8);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
header{
    text-align: center;
}
#gomb{
    text-align: center;
    padding: 10px;
    width: 200px;
    height: auto;
}
#valasz{
    text-align: center;
    border: 2px dotted green;
    padding: 5px;
}

#fontos{
    padding-top: 11px;
}