/* Navbar alap stílusok */
.navbar {
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  z-index: 1;
}

.navbar-content {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Dropdown linkek stílusa */
.dropdown-menu {
  background-color: #343a40; /* Sötét háttérszín */
  border: none;
}

.dropdown-menu .dropdown-item {
  color: rgb(92, 212, 92); /* Zöld linkek */
  transition: color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
  color: limegreen; /* Világosabb zöld */
}

/* Navbar linkek stílusa */
.navbar .nav-link {
  color: rgb(92, 212, 92) !important;
}

.navbar .nav-link:hover {
  color: limegreen !important;
}

/* Cím stílusa */
#cim {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: white;
  margin: 0;
}
