.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
}

.navbar-toggler {
    margin-left: 10px;
}

.navbar-brand {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}

.navbar-collapse {
    justify-content: flex-start;
}

.navbar-nav {
    background-color: #343a40;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.navbar-right {
    display: flex;
    align-items: center;
    color: white;
    z-index: 1;
}

#profilAdatok {
    white-space: nowrap;
    color: white;
}

#cim {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    color: white;
}
